*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
}

header  > h1 {
    color: #494755;

}
#left{
    width: 28vw;
    height: 100vh;
    background-color: #737083;
    box-shadow: 1px 0px 8px 0px rgba(66, 68, 90, 1);
}
#img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#img img{
    width: 325px;
    border-radius: 300px;
    border: 3px solid #ea5e64;
}
#contact{
    width: inherit;
    background-color: #ea5e64;
    margin-top: 50px;
}
#contact > h1{
    margin-left: 45px;
    color: white;
}
#right{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
#header{
    margin: 40px auto 0;
}
#biografia {
    width: 850px;
	height: 60px;
	background-color: #737083;
    margin: 40px auto 0;
    border-top-right-radius: 150px; 
    position: absolute;
    top: 15%;
    left: 35%;   
}
#right_border{
    width: 2vw;
    background-color: #ea5e64;
}