*{
    margin: 0;
    padding: 0;
}
body{
    overflow:auto;
    width: 100vw;
    height: 125vh;
    display: flex;
    overflow-x: hidden;
    background-color: #b7b7b970;
}
#left{
    width: 28vw;
    height: 170vh;
    background-color: #737083;
    position: relative;
    box-shadow: 4px 0px 4px #58576e;
    animation: left 2s;
}
#img{
    margin-top: 30px;
    display: flex;
    justify-content: center;**
}
#img img{
    width: 240px;
    border-radius: 500px;
    box-shadow: -5px -5px 0px #58576e, 5px 5px 0px #58576e;
    border: 7px solid #ea5e64;
    transition: all 3.5s;
}
#img img:hover{
    transform: rotate(360deg);
}
#contact{
    width: inherit;
    background-color: #ea5e64;
    box-shadow: 4px 0px 4px #ea5e64, 0px 0px 4px #ea5e64;
    margin-top: 50px;
}
#contact > h1{
    margin-left: 45px;
    color: white; 
    text-shadow: 5px 4px 0px #6e5757;
    font-family: "Swis721 Cn BT Condensed";
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
}
#contact_content{
    padding-left: 50px;
    margin-top: 30px;
    color: white; 
    text-shadow: 4px 3px 0px #58576e;
    font-family: "Bahnschrift";
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 600;
    display: none;
}
#contact_content ul{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
#skills{
    margin-top: 35px;
    width: 29vw;
    height: 600px;
    box-shadow: 4px 0px 4px 0px #58576e;
    background-color: #58576e;
    padding: 12px 12px;
    position: relative;
}
#skills p{
    color: white;
    font-family: "Swis721 Cn BT Condensed";
    font-size: 45px;
    text-shadow:  5px 4px 0px #373544;
    letter-spacing: 3px;
    font-weight: 700;
    position:  absolute;
    top:  5%;
    left: 9%;
}

#skills ul{
    list-style-type: none;
    color: white;
    font-family: "Bahnschrift";
    font-size: 24px;
    text-shadow:  4px 3px 0px #403e50;
    letter-spacing: 3px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-top: 17%;
}
#skills ul >li{

    padding: 35px;
}

#ram1-ocen{
    width: 405px;
    height: 8px;
    background-color: #ea5e64;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 29%;
    left: 9%;
    
}

#ram2-ocen{
    width: 205px;
    height: 8px;
    background-color: #b7b7b970;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 45%;
    right: 21%;
}

#ram3-ocen{
    width: 205px;
    height: 8px;
    background-color: #ea5e64;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 45%;
    left: 9%;
    
}

#ram4-ocen{
    width: 100px;
    height: 8px;
    background-color: #ea5e64;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 62%;
    left: 9%;
    
}

#ram5-ocen{
    width: 305px;
    height: 8px;
    background-color: #b7b7b970;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 77%;
    right: 21.5%;
    
}

#ram6-ocen{
    width: 100px;
    height: 8px;
    background-color: #ea5e64;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 77%;
    left: 9%;
    
}

#ram7-ocen{
    width: 305px;
    height: 8px;
    background-color: #b7b7b970;
    box-shadow: 0px 4px 4px 0px #403e50;
    position: absolute;
    top: 62%;
    right: 21.5%;
    
}

#ram8-ocen{
    width: 405px;
    height: 8px;
    background-color: #ea5e64;
    box-shadow: 4px 4px 4px 0px #403e50;
    position: absolute;
    top: 92%;
    left: 9%;
    
}

#blok{
    width: inherit;
    background-color: #ea5e64;
    box-shadow: 4px 0px 4px #ea5e64, 0px 0px 4px #ea5e64;
    margin-top: 50px;
}
#blok > h1{
    margin-left: 45px;
    color: white; 
    text-shadow: 5px 4px 0px #6e5757;
    font-family: "Swis721 Cn BT Condensed";
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 700;
}
#blok_1 {
    padding-left: 45px;
    margin-top: 12px;
    color: white; 
    text-shadow: 4px 3px 0px #58576e;
    font-family: "Bahnschrift";
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 600;

}

#blok_1 ul li{
    text-decoration: none;
    color: white;
    padding: 10px;
    list-style-type: none;
}

#right{
    height: 170vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
#header{
    margin: 40px auto 0;
}
#header > h1 {
    color: #494755;
    font-family: "Bebas Neue";
    font-size: 200px;
    letter-spacing: 20px;
    font-weight: 100;
    text-shadow: -3px -3px 0px #ea5e64, 4px 4px 0px #8a89a5;
    position: absolute;
    top: 1%;
    right: 26.7%;
    animation: fadeIn2 4s;
}

.przezwisko{
    color: #ea5e64;
    font-family: "Bebas Neue";
    font-size: 25px;
    font-weight: 10;
    letter-spacing: 5px;
    text-shadow:  2px 2px 0px #8a89a5;
    position: absolute;
    right: 29%;
    top: 24%;
    animation: fadeIn2 5s;
}
#biografia {
    width: 850px;
	height: 60px;
	background-color: #58576e;
    Box-shadow: 4px 4px 4px #58576e;
    margin: 40px auto 0;
    border-top-right-radius: 150px; 
    position: absolute;
    top: 30%;
    left: 40.5%;
    animation: left_biografia 11s;
}
.full-text{
    animation: fadeIn2 15s;
}
.ram1{
    width: 120px;
	height: 60px;
    border-right: 15px solid #ea5e64;
    border-top-right-radius: 100%;
    position: absolute;
    right: 10%;
}
.ram2{
    width: 120px;
	height: 60px;
    border-right: 15px solid #ea5e64;
    border-top-right-radius: 100%;
    position: absolute;
    right: 5%;
}
.text-ram{
    color: #ea5e64;
    font-family: "Swis721 Cn BT Condensed";
    font-size: 40px;
    text-shadow: -3px -2px 0px #403e50, 2px 1px 0px #8a89a5;
    letter-spacing: 5px;
    font-weight: 500;
    position: absolute;
    left: 10%;
    top: 10%;

}
.full-text{
    Color: rgb(70, 70, 70);
    font-family: "Bahnschrift";
    font-size: 18px;
    text-shadow: 2px 2px 0px #b6b5da;
    letter-spacing: 2px;
    font-weight: 700;
    position: absolute;
    top: 160%;
    
}
#noxus{
    width: 850px;
	height: 60px;
	background-color: #58576e;
    Box-shadow: 4px 4px 4px #58576e;
    margin: 40px auto 0;
    border-top-right-radius: 150px; 
    position: absolute;
    top: 65%;
    left: 40.5%;
    animation: left_biografia 11s;
}

#opowiadanie {
    animation: left_biografia 11s;
    width: 850px;
	height: 60px;
	background-color: #58576e;
    Box-shadow: 4px 4px 4px #58576e;
    margin: 40px auto 0;
    border-top-right-radius: 150px; 
    position: absolute;
    top: 112%;
    left: 40.5%;   
}
button{
    position:absolute;
    right: 2%;
    color: #ea5e64;
    font-family: "Bahnschrift";
    font-size: 19px;
    font-style: oblique;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow:  1px 2px 0px #58576e;
    background-color: #dfdfe0;
    border: 0px solid #dfdfe0;
    width: 200px;
    height: 30px;
    Cursor: pointer;
}
#more {display: none;}



#right_border{
    width: 2vw;
    height: 170vh;
    position: absolute;
    right: 0%;
 
    background-color: #ea5e64;
    box-shadow: -4px 0px 4px  #b6b5da;
    animation: right_border 2s;
}
@keyframes fadeIn2 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes right_border {
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes left {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes left_biografia {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        transform: translateX(-200px);
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
